.foot{
    background-color: black;
    height: 180px;
    margin-top: -20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.foot > p:nth-child(1) {
    font-size: 13px;
    font-style: italic;
   }
   
.social-box > a img{
    width: 40px;
    height: 40px;
}
.social-box{
    display: flex;
    justify-content: space-evenly;
    width: 11%
}